* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  align-items: center;
}

h1 {
  padding-left: 2em;
}

h2 {
  font-size: 1rem;
  padding-left: 4em;
  font-weight: normal;
  
}


/* nav bar css */

header {
  height: 10em;
  background-color: #06D6A0;
  display: flex;
  
  
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 85%;
  margin-left: 10%;
}

.logo img {
  height: 4em;
  
}

.menu {
  display: flex;
  list-style: none;
  
}

.menu li {
  margin-left: 10em;

}

.menu a {
color: black;
text-decoration: none;
font-size: 1.5em;

}

a:hover {
  color: white;
}
/* nav bar css */
.wrapper {
  display: grid;
  padding: 20px;
}