* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  align-items: center;
}

h1 {
  padding-left: 2em;
}

h2 {
  font-size: 1rem;
  padding-left: 4em;
  font-weight: normal;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: yellow;
}

.logo img {
  height: 40px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 20px;
}

.menu a {
color: black;
text-decoration: none;
}
