/* Table of contents 










*/



:root {
  --main-color: #05A8AA; /* Hovedfarge som kan brukes på flere elementer */
  --bckgray-color: #E7E7E7; /* Grå bakgrunnsfarge */
  --footer-color: #28262C; /* Farge for bunntekst */
  --beer-color: #BA0C2F; /* Primærfarge for "norges-øl"*/
  --beersecondary-color: #17183B; /* Sekundærfarge for "norges øl"*/
}

* {
  margin: 0; /* Fjerner standard marger for alle elementer */
  padding: 0; /* Fjerner standard innrykk */
  box-sizing: border-box; /* Inkluderer padding og border i elementets totale bredde/høyde */
}

html {
  font-family: Arial, Helvetica, sans-serif; /* Setter standard skrifttype til Arial om dette er tilgjengelig*/
  scroll-behavior: smooth; /* Gjør scrolling på siden jevn når vi bruker navigasjonsknapper */
  font-size: 12pt; /* Standard skriftstørrelse */
}

body {
  height: 100%; /* Setter kroppens høyde til å dekke hele vinduet */
  margin: auto; /* Midtstiller kroppen i forhold til vinduet */
}


#oslomet-body h1 {
  font-size: 4rem; /* Setter font-size for alle h elementer i bodyen til oslomet siden og alle sidene som bruker samme Id */
}

#oslomet-body h2 {
  font-size: 2rem; /* Setter font-size for alle h elementer i bodyen til oslomet siden og alle sidene som bruker samme Id */
}

#oslomet-body h3 {
  font-size: 1.5rem; /* Setter font-size for alle h elementer i bodyen til oslomet siden og alle sidene som bruker samme Id */
}

#oslomet-body h4 {
  font-size: 1.2rem; /* Setter font-size for alle h elementer i bodyen til oslomet siden og alle sidene som bruker samme Id */
}

#øl-body h1 {
  font-size: 7rem; /* Setter font-size for alle h elementer i bodyen til norges øl siden */
  text-align: center; /* Sentrerer t */
}

#øl-body h2 {
  font-size: 5rem; /* Setter font-size for alle h elementer i bodyen til norges øl siden */
}

#øl-body h3 {
  font-size: 4rem; /* Setter font-size for alle h elementer i bodyen til norges øl siden */
}

#øl-body h4 {
  font-size: 1.5rem; /* Setter font-size for alle h elementer i bodyen til norges øl siden */
}



a {
  color: black; /* Setter tekstfargen på alle linker til svart */
  text-decoration: underline; /* Legger til en strek under alle linker slik at disse er mer synlige */
  text-decoration-color: var(--main-color); /* Setter fargen på linjene til hovedfargen vår */
  font-weight: normal; /* Setter teksttykkelsen til normal kontra fet */

}

a:hover { /* Endrer på elementene til linktekst når man har musepekeren over */
  font-weight: normal; /* Gjør at linkenen beholder vanlig tykkelse */
  text-decoration-color: black; /* Gjør at linjen under blir svart */

}


#oslomet-body h1+p { /* Gjør at første p-element etter H1 til å ha et spesifikk stil og størrelse*/
  font-weight: normal;
  padding-bottom: 1rem;
  font-size: 2rem;
}


/* nav bar css */
/* General Header Styles */
#index-header {
  height: 7rem; /* Høyden på header */
  background-color: var(--main-color); /* Bakgrunnsfarge på header */
  display: flex; /* Bruker flex-box for å plassere logo og listen horisontalt */
  width: 100%; /* Setter bredden til headeren 100% av skjermen */
  position: fixed; /* Sørger for at headeren alltid er synlig på toppen av siden */
  z-index: 10; /* Sørger for at headeren er foran alt annet innhold */
}

#index-nav {
  display: flex; /* Bruker flex-box til å plassere elementene horisontalt */
  justify-content: space-between; /* Plasserer elementene med lik avstand mellom dem */
  align-items: center; /* Justerer elementene vertikalt i midten av containeren */
  padding: 10px 20px; /* Legger til padding (10px topp/bunn, 20px venstre/høyre) */
  width: 100%; /* Setter bredden til hele containerens bredde, slik at navigasjonene ligger helt til høyre og logoen til venstre */
  margin-left: 10%; /* Flytter containeren 10% fra venstre kant */
}

.logo img {
  height: 4rem; /* Setter høyden på logoen */
}

/* Default Menu Styles (Desktop) */
.menu {
  display: flex; /* Bruker flex-box til å plassere listen horisontalt */
  list-style: none; /* Fjerner punktene foran liste elementene */
}

.menu li {
  margin-left: 3rem; /* Gir listen elementene et mellomrom */
}

.menu a {
  font-size: 1.5rem; /* Setter tekststørrelsen til link elementene  */
  text-decoration: none; /* Fjerner standardoppsett for link elementer */
  
}

.menu a:hover {
  color: white; /* Gjør at teksten blir hvit når man har musekepkeren over elementene */
}

/* Hamburger Menu */
.menu-toggle {
  display: none; /* Skjuler checkbox elementet fra å synes */
}

.hamburger {
  display: none; /* Skjuler hamburger-menyikonet på desktop */
  font-size: 2rem; /* Setter størrelsen på ikonet til 2rem */
  cursor: pointer; /* Endrer markøren til en hånd når brukeren holder musen over ikonet hamburgermeny */
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: left;
}

.aside {
  grid-area: right;
}

#oslomet-body main {
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  padding-bottom: 8rem;
}

/* Oversikt over emnene */


.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'left right';
  gap: 10px;
  padding: 10px;
  width: 80%;
  /* Set width as desired */
  max-width: 1200px;
  /* Optionally set a max width */
  padding: 20px;
  /* Add padding if you like */
  box-sizing: border-box;
}

.main-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 600px;
}

.main-box section p:first-of-type {
  border-top: solid black;
  padding-top: 1rem;
  font-weight: bold;
}

.image {
  width: 100%;
  /* Makes the image span the full width of the screen */
  height: auto;
  /* Keeps the image's aspect ratio */
  display: block;
  /* Removes any extra space below the image */
  margin: 0;
}


.aside {
  padding-left: 5rem;
}

.aside p {
  font-size: 1.5rem;
}

#søknadsfrist {
  padding-top: 2rem;
}

#søknadsfrist ul {
  padding-left: 1rem;
  font-size: 1.5rem;
}

#søknadsfrist p:first-of-type {
  font-weight: bold;
  margin-bottom: 0.4rem;
}

#søknadsfrist p:last-of-type {
  margin-top: 0.2rem;
}

/* scroll til på begge sider */

#navigasjon,
#øl-navigasjon {
  display: flex;
  flex-direction: column;
  padding: 2rem;

}

#navigasjon {
  background-color: var(--main-color);

}

#øl-navigasjon {
  background-color: var(--beer-color);
  color: white;
}

#øl-navigasjon .navigasjonsknapp {
  border-radius: 10px;
}

.navigasjonknapp {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navigasjonknapp p {
  display: inline-block;

}



#navigasjon h2,
#øl-navigasjon h4 {
  text-align: center;
}

.navigasjonknapp a {
  display: block;/* Gjør lenken til en blokk for å gjøre det enklere å trykke på */
  padding: 1rem 2rem;/* Legger til padding */
  background-color: black;/* Setter bakgrunnsfarge på lenken til svart */
  color: white;/* Setter tekstfargen til hvit */
  text-align: center;/* Teksten blsentrert */
  text-decoration: none;/* Fjerner understrekningen*/
  font-size: 16px;/*skriftstørrelse */
  transition: background-color 0.3s ease; /* Legger til en overgangseffekt for bakgrunnsfargen når den endres */
}


.navigasjonknapp a:hover {
  background-color: white; /* Når en holder musepeker over knappen, så blir den hvit*/
  color: black; /* Tekstfargen blir hvit når musepeker er over knappen*/
}

#navigasjon h2,
#øl-navigasjon h4 {
  margin-bottom: 1rem;
}

/* scroll til på begge sider */

.info-content {
  margin: auto;
  width: 100%;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 3rem;
}

/* Jobb */
#jobb {
  background-color: #28262C;
  color: white;
}

#jobb h2,
#læring h2,
#studenthistorier h2 {
  margin-bottom: 2rem;
}



#jobb p,
#læring p,
#studenthistorier p {
  padding-bottom: 1rem;
}

#jobb p:last-child,
#studenthistorier p:last-child {
  margin-top: 3rem;
}

#jobb a {
  color: white;
  font-size: 1rem;
}

#jobb a:hover {
  text-decoration: underline;
}

#jobb,
#læring,
#studenthistorier {
  display: flex;
}


#læring {
  background-color: var(--bckgray-color);
}


#info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5rem;

}

#info-grid li {
  list-style-position: inside;
}

#info-grid p {
  padding-top: 1rem;
}


#opptakskrav, #undervisning {
  margin: 1rem;
  border-right: solid black;
}

#opptakskrav p {
  padding-bottom: 1rem;
}


#opptakskrav li {
  padding-left: 1rem;

}

#undervisning p {
  padding-bottom: 1rem;
}

#undervisning li {
  padding-left: 1rem;

}

#kost {
  margin: 1rem;
}

#kost  p {
  padding-bottom: 1rem;
}

#kost a p {
  padding-bottom: 0;
  padding-top: 0;
  font-size: 0.8rem;
}



#kost h3:nth-of-type(2) {
  margin-top: 1rem;
}

#master {
  display: flex;
}

#master td:not(:last-of-type) {
  border-right: solid black;
}


#background_studieløp {
  background-color: var(--bckgray-color);
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#master-link {
  text-decoration: none;
}

#studieløp,
#tilleggsInfo {
  display: grid;
  margin: auto;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  width: 80%;
}

#studieløp h3 {
  padding-bottom: 0.5rem;
}

#studieløp h3:not(:first-of-type) {
  padding-top: 1rem;
}

#studieløp h4 {
  padding-bottom: 1rem;
}



#studieløp p {
  font-weight: normal;
  font-size: 0.8rem;

}

.semester {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 1.5rem;
}

.semester div {
  width: 80%
}

.semester h5 {
  border-top: 1px solid var(--main-color);
  padding-top: 0.5rem;
  margin-top: 1rem;


}

#studieløp table {
  width: 100%;
}

#studieløp th {
  text-align: left;
  width: 33%;
  border-bottom: solid var(--main-color);
}


#studieløp td {
  padding: 0.8rem;
}


#studieløp td:not(:last-of-type) {
  border-right: dashed var(--main-color);
}


#spørsmål {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#spørsmål h3 {
  margin-bottom: 1rem;
}


#fagligLeder a {
  display: block;
  text-decoration: none;
  margin-top: 2rem;
}

#fagligLeder a>div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  border-top: solid black;
  border-bottom: solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#lederinfo h4 {
  margin-bottom: 1rem;
}

#fagligLeder img {
  max-width: 100px;
  height: auto;
}


#interessert {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

#interessert div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#interessert h4 {
  margin-top: 1.2rem;
}

#interessert-top a:nth-child(n+3) {
  border-top: solid black;
}

#interessert-bottom a {
  border-top: solid black;
}


#interessert p {
  padding-bottom: 1.5rem;
  font-size: 1rem;
}

#interessert a {
  text-decoration: none;
  display: block;
}

#studenthistorier {
  background-color: #28262C;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#studenthistorier h3 {
  padding-bottom: 2rem;
}



#studenthistorier h3 a {
  text-decoration: none;
}

#studenthistorier a {
  color: white;
  text-decoration: underline;
}


#jobb img, #læring img, #studenthistorier img {
  width: 50%;
  height: auto;
  display: block;
  object-fit: cover;
  max-height: 100%;
}

.image, #jobb img, #læring img, #studenthistorier img {
  max-width: 100%;
  height: auto;
}


#info-grid img {
  max-width: 100%;
  height: auto;
}


#nyhetsbrev {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  padding: 2rem;
  border-bottom: solid black;
}

#nyhetsbrevknapp {
  background-color: black;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5rem;
  transition: background-color 0.3s ease;
}

#nyhetsbrevknapp:hover {
  background: white;
  color: black;
}



/* footer */

footer {

  background-color: var(--footer-color);
  display: flex;
  height: 20rem;
  width: 100%;
  justify-content: center;
}






#left-side-footer {
  margin-top: 4rem;
  margin-right: 10rem;
  color: white;
}

#logo-footer {
  width: 25rem;
  object-fit: contain;
  margin-bottom: 2rem;
}

footer a {
  font-weight: normal;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

footer a:hover {
  text-decoration: underline;
}

#mid-footer {
  margin-right: 1rem;
  margin-top: 4rem;
  color: white;
  width: 30%;
}

#right-side-footer {
  margin-top: 4rem;
  margin-left: 5rem
}

#right-side-footer img {
  max-width: 30%;
  margin-right: 0.3rem;
}

#facebook,
#x,
#linkedin,
#instagram {
  display: flex;
  align-items: center;
}

#x,
#linkedin,
#instagram {
  margin-top: 1rem;
}

#øl-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}



#øl-video {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  /* Ensure the video is behind other content */

}

#øl-nav {
  position: absolute;
  width: 100%;
  padding: 3rem;
  z-index: 2;
}

.øl-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.øl-menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.øl-menu li a:hover {
  text-decoration: underline;
}


#norgesøl_textlogo {
  max-width: 50%;
  padding-bottom: 2rem;
}

#norgesøl_logomark {
  padding-top: 2rem;
  max-width: 10%;
}

#øl-main {
  margin: 0;
}

#om-norgesøl {
  padding: 4rem;
  width: 80%;
  margin: 0 auto;
}

#om-norgesøl p {
  font-size: 1.5rem;
  padding-top: 1rem;
}


#øl-main h4 {
  font-weight: normal;
}

#øl-main p {
  margin-top: 1rem;
}


.landsdel-overskrift {
  padding: 2rem;
  text-align: center;
  color: white;
  background-color: var(--beersecondary-color);
}

#øl-container {
  align-items: center;
  margin: 0;

}

#øl-container img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  max-height: 100%;
}

#beer-left, #beer-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: solid var(--beersecondary-color);
  border-width: 0.3rem;
  place-items: center;

}

.header-container img {
  max-height: 5rem;
  margin: 0;
}

#bryggeri {
  margin-top: 1rem;
  display: flex;
  flex-direction: column-reverse;
}

#bryggeri h3 {
  font-weight: normal;
}

#bryggeri img {
  width:6rem;
}

#ølnavn {
  display: flex;
}

.beer-img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  max-height: 100%;
}

.beer-info a {
  text-decoration-color: var(--beer-color);
}

.beer-info a:hover {
  text-decoration-color: black;
}

.beer-info {
  margin-left: 1rem;
}

#beer-right .beer-info {
  margin-right: 10%;
}


#øl-scroll, #scroll {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 1rem;
  border-radius: 4rem;
  
  text-decoration: none;
}

#øl-scroll {
  background-color: var(--beer-color);
  color: white;
}

#scroll {
  background-color: var(--main-color);
} 


/*Mobil*/

@media (max-width: 800px) {
  html {
    font-size: 0.5rem;
  }

  #oslomet-body h1 {
    font-size: 3rem;
  }

  #oslomet-body h3 {
    font-size: 2.5rem;
  }

  #oslomet-body h4 {
    font-size: 2rem;
  }

  #oslomet-body p, #oslomet-body a, #oslomet-body li, #oslomet-body th {
    font-size: 1.5rem;
  }

  #index-header {
    height: auto; 
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .hamburger {
    display: block; /* Show hamburger button */
  }

  .menu {
    display: none; /* Hide menu by default */
    flex-direction: column;
    position: absolute;
    top: 100%; /* Below header */
    right: 0;
    background-color: var(--main-color);
    width: 100%;
    padding: 1em 0;
    text-align: center;
  }

  /* Show menu when checkbox is checked */
  .menu-toggle:checked + .hamburger + .menu {
    display: flex;
  }

  .menu li {
    margin: 0.5rem 0;
  }

  .menu a {
    font-size: 2rem; 
  }

  .menu a:hover{
    text-decoration: none;
  }

  .logo img {
    height: 3rem;
  }

 
  
  .grid-container {
    grid-template-areas:
      'header'
      'left'
      'right';
  }
  
  .main-box {
    font-size: 2rem;
  }
  
  .aside {
    padding-left: 0;
    padding-top: 3em;
  }

#navigasjon {
  place-items: center;
}

.navigasjonknapp {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  width: 50%;
}

.navigasjonknapp a {
  margin-top: 1rem;
}


  .info-content {
    width: 80%;
  }

.semester {
  grid-template-columns: 1fr 1fr;
}

  #jobb,
  #studenthistorier {
  flex-direction: column;
  align-items: center;
}

#læring {
  flex-direction: column-reverse;
  align-items: center;
}

#jobb img, #læring img, #studenthistorier img {
  width: 100%;
  }

  #info-grid {
    grid-template-columns: 1fr;
  }

  #undervisning, #opptakskrav {
    border-right: none;
    border-bottom: solid black;
  }

  #lederinfo {
    padding-left: 1.5em;
  }

  #interessert {
    padding: 2rem;
  }

  #interessert div {
    grid-template-columns: 1fr;
  }

  #interessert-top a:nth-child(2) {
    border-top: solid black;
  }

  #infomelding {
    padding-bottom: 2rem;
  }

  #nyhetsbrev {
    flex-direction: column;
    
  }

  #nyhetsbrevknapp {
    margin: 0;
  }
  #beer-left, #beer-right {
    display: flex;
    margin-left: 0%;
  }

#beer-left {
  flex-direction: column-reverse;
}

#beer-right {
  flex-direction: column;
}

.beer-img {
  /* Hentet fra inspect element i chrome */
  overflow-clip-margin: content-box;
  overflow: clip;
  /* Hentet fra inspect element i chrome */
  display: flex;
  justify-content: center;
  align-items: center;
}


#øl-body p, #øl-body a {
font-size: 2rem;
}

#øl-body h4 {
  font-size: 3rem;
}

#øl-navigasjon {
  justify-content: center;
  align-items: center;
}

#øl-navigasjon h4 {
  font-size: 2.5rem;
}

  footer {
    flex-direction: column;
    height: auto;
    place-items: left;
    padding-left: 2rem;
  }
  footer p {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  footer a {
    font-size: 2rem;
  }

  #logo-footer {
    width: 90%;
    padding-bottom: 2rem;
  }

  

  #left-side-footer, #mid-footer, #right-side-footer {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  
#right-side-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 3rem;
}
 

  #scroll, #øl-scroll {
    display: none;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  html {
    font-size: 0.75rem;
  }

  #scroll, #øl-scroll {
    display: none;
  }
}
